@mixin main-btn {
    color: white; 
    background: $main-color;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    padding: 15px 32px; 
    font-weight: bolder;
    padding: 10px 5px;
    width: 95%;
    margin: 10px;
    text-transform: uppercase;
    box-shadow: none;
}

@mixin main-grid {
    padding: 10px 10px;
    color: grey;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 0;
    border-radius: 6px;
    @include media-q(desktop) {
        //text-align: center;
        display: flex;
        justify-content: center;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin mobile-cont {
    .container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        
    .nav {
        margin: 0;
        padding: 0;
        }
    }
}

@mixin desktop-cont {
    .container {
        display: flex;
        flex-direction: column;
        padding: 0px 12%;
        
    .nav {
        margin: 23px;
        padding: 0;
        }
    }
}

//Nav 

@mixin mobile-nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    display: inline-block;  
  a {
        text-decoration: none;
        color: grey;
        display: block;
        text-align: center;
        padding: 15px 32px;
        font-weight: bolder;
        &:hover {
            color: white; 
            background: $sec-color;
            border-radius: 3px;
        }
    }    
}

@mixin desk-nav {
    display: flex;
    list-style-type: none; 
    display: inline-block;
    
  a {
        display: block;
        width: 90%;
        margin-top: 10px;
        text-decoration: none;
        color: grey;
        text-align: center;
        padding: 8px 8px;
        font-weight: bolder;
        &:hover {
            color: white; 
            background: $sec-color;
            border-radius: 3px;
        }
    }     
}

@mixin bottom-border {
    border: none;
    border-bottom: 5px $sec-color solid;
    margin-left: 20px;
    margin-bottom: 13px;
    padding: 15px; 
    height: 20px; 
}

// Media queries

@mixin media-q ($breakpoint) {
    @if $breakpoint == mobile {
        @media (min-width: 480px) {
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media (min-width: 1400px) {
            @content;
        }
    }
    @else {
        @error "no value could be found '#{$breakpoint}'."
    }
}