@mixin main-btn {
   @include media-q(mobile);
    color: white; 
    background: #52bab3;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 32px;
    width: 90%;
    font-weight: bolder;
    padding: 10px 5px;
    width: 95%;
    margin: 10px;
    text-transform: uppercase;
    box-shadow: none;
}

@mixin main-grid {
   @include media-q(mobile); 
    padding: 10px 10px;
    color: grey;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 0;
    border-radius: 6px;
}


// Media queries

@mixin media-q ($breakpoint) {
    @if $breakpoint == mobile {
        @media (min-width: $break-mobile) {
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media (min-width: $break-desktop) {
            @content;
        }
    }
    @else {
        @error "no value could be found '#{$breakpoint}'."
    }
}