$main-font: 'sans-serif, Helvetica Arial';
$secondary-font: 'sans-serif, Helvetica Arial';

$main-color: #05aefd; 
$sec-color: rgba(100, 255, 255, 0.66);

$break-desktop: 1400px;
$break-mobile: 480px;

