$main-font: 'sans-serif, Helvetica Arial';
$secondary-font: 'sans-serif, Helvetica Arial';

$main-color: rgba(76, 183, 178, 1); 
$sec-color: rgba(100, 255, 255, 0.66);

$mobile: 480px;
$desktop: 1400px;

