/*
 .btn--default
    .btn--success
    .btn--error
    .btn--warning
    .btn--info
    .theme__colors
*/

.btn--default {
  &.theme__colors {    
    @include main-btn;
    background: $sec-color;
  }
  @include media-q (desktop) {
    
  }
}   

.btn--success {  
  @include main-btn;
  background: $light-green;
} 

.btn--error {
  @include main-btn;
  background: $error-btn-red;
}

.btn--warning { 
  @include main-btn;
  background: $warning-btn-red;
}    

.btn--info {
  @include main-btn;
  background: $info-btn-purple;
    @include media-q (mobile) {
      width: 95%;
  }
}