/*
 .btn--default
    .btn--success
    .btn--error
    .btn--warning
    .btn--info
    .theme__colors
*/

.btn--default {
  &.theme__colors { 
    @include main-btn;
    @include media-q (desktop) {
      background: $main-color; 
      width: 16%;
      float: left;
      margin-left: 45px;
    /* good idea for grabing the login button
     .Login {  
        @include main-btn;
        background: $sec-color; 
        width: 100%;
      }*/
    }
  }
}   

.btn--success {  
  @include main-btn;
  background: $light-green;
  @include media-q (desktop) {
    width: 16%;
    float: left;
    margin-left: 20px;  
  }
} 

.btn--error {
  @include main-btn;
  background: $error-btn-red;
  @include media-q (desktop) {
    width: 16%;
    float: left;
    margin-left: 20px;  
  }
}

.btn--warning { 
  @include main-btn;
  background: $warning-btn-red;
  @include media-q (desktop) {
    width: 16%;
    float: left;
    margin-left: 20px;  
  }
}    

.btn--info {
  @include main-btn;
  background: $info-btn-purple;
  @include media-q (desktop) {
    width: 16%;
    float: left;
    margin-left: 20px;
  }
}