
.form__label--hidden {
    display: none;
}

.form {
    @include media-q (desktop) {
        width: 70%;
        margin: auto; 
        padding-top: 30px;  
    }
}

.form__input {
    @include bottom-border;
    @include media-q (mobile) {
        width: 82%;
    }
    @include media-q (desktop) {
        
    }
}