/*
  .container
    .grid__row
    .grid__col--2
    .grid__col--5
    .grid__col--6
    .grid__col--7
    .grid__col--8
    .grid__col--9
    .grid__col--10
    .grid__col--11
    .centered
    .theme__colors
*/



.grid__row {
  margin-top: 35px;
  @include media-q (mobile) {
    width: 100%;
  }
  @include media-q (desktop) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.grid__col--3 {
    &.theme__colors {
      @include main-grid;
      background: plum;
      width: 95%;
    }
  @include media-q (desktop) {
    width: 40%;

  }          
}

.grid__col--4 {

  &.theme__colors {
    @include main-grid;
    background: $sec-color;
    width: 95%;
  }
  @include media-q (mobile) {
    width: 100%;
  }
  @include media-q (desktop) {
    width: 100%;
  }
}

.grid__col--5 {
  &.theme__colors {
    @include main-grid;
    background: darken($color: rgb(151, 216, 180), $amount: 10%);
  }
  @include media-q (mobile) {
    width: 95%;
  }
}

.grid__col--6 {
  &.theme__colors {
    @include main-grid;
    background: $main-color;
    width: 95%;
  }
  @include media-q (mobile) {
    width: 100%;
}
  @include media-q (desktop) {
    width: 100%;
  }
}  

.grid__col--7 {
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(255, 99, 71), $amount: 10%);
    @include media-q (desktop) {
      width: 99%;
    }
  }
  @include media-q (mobile) {
    width: 95%;
  }
}  

.grid__col--8 {
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(255, 69, 0), $amount: 20%);
    width: 95%;
  }    
  @include media-q (mobile) {
    width: 100%;
  }
  @include media-q (desktop) {
    width: 100%; 
  }
} 

.grid__col--9 {
  @include media-q (mobile) {
    width: 100%;
  }
  @include media-q (desktop) {
    width: 79%;
  }
}

.grid__col--12 {   
  &.theme__colors {
    @include main-grid;
    background: $sec-color;
    @include media-q (mobile) {
      width: 95%;
    }
    @include media-q (desktop) {
      width: 100%; 
    }
  }
} 