/*
  .container
    .grid__row
    .grid__col--2
    .grid__col--5
    .grid__col--6
    .grid__col--7
    .grid__col--8
    .grid__col--9
    .grid__col--10
    .grid__col--11
    .centered
    .theme__colors
*/



.grid__row {
  margin-top: 35px;
  @include media-q (mobile) {
    width: 100%;
  }
  @include media-q (desktop) {
    width: 100%;
    display: flex;
  }
}

.grid__col--3 {
 @include flex-center;
    &.theme__colors {
      @include main-grid;
      background: plum;
      width: 95%;
    }
    @include media-q (mobile) {
      width: 100%;
  }  
  @include media-q (desktop) {
    width: 20%;
    padding-left: 10px;
  }          
}

.grid__col--12 {   
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(102, 205, 170), $amount: 10%);
    width: 95%;
    @include media-q (desktop) {
      display: flex;
      width: 99%;
      text-align: center;   
    }
  }
      @include media-q (mobile) {
        width: 100%;
    }
} 


.grid__col--4 {

  &.theme__colors {
    @include main-grid;
    background: $sec-color;
    width: 95%;
  }
  @include media-q (mobile) {
    width: 100%;
  }
}

.grid__col--6 {
  &.theme__colors {
    @include main-grid;
    background: $main-color;
    width: 95%;
  }
  @include media-q (mobile) {
    width: 100%;
}
}

.grid__col--5 {
  &.theme__colors {
    @include main-grid;
    background: darken($color: rgb(151, 216, 180), $amount: 10%);
  }
  @include media-q (mobile) {
    width: 95%;
}
}  

.grid__col--7 {
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(255, 99, 71), $amount: 10%);
    @include media-q (desktop) {
      width: 99%;
    }
  }
  @include media-q (mobile) {
    width: 95%;
  }
}  

.grid__col--8 {
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(255, 69, 0), $amount: 20%);
  }
  @include media-q (mobile) {
    width: 95%;
  }
  @include media-q (desktop) {
    margin-right: 10px;
    width: 150%; 
  }
} 

.grid__col--9 {
  @include media-q (mobile) {
    width: 100%;
  }
  @include media-q (desktop) {
    width: 79%;
  }
}

