/*
  .container
    .grid__row
    .grid__col--2
    .grid__col--5
    .grid__col--6
    .grid__col--7
    .grid__col--8
    .grid__col--9
    .grid__col--10
    .grid__col--11
    .centered
    .theme__colors
*/

.grid__col--3 {
    display: flex;
    justify-content: center;
    &.theme__colors {
      @include main-grid;
      background: plum;
    }
}

.grid__col--12 {
  padding: 50px 2px;
  &.theme__colors {
    @include main-grid;
    background: rgb(102, 205, 170);
    
  }
}

.grid__col--4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.theme__colors {
    @include main-grid;
    background: $main-color;
  }
}

.grid__col--6 {

  &.theme__colors {
    @include main-grid;
    background: turquoise;
    
  }
}

.grid__col--5 {
  &.theme__colors {
    @include main-grid;
    background: mediumseagreen;
  }
}

.grid__col--7 {
  &.theme__colors {
    @include main-grid;
    background: tomato;
  }
}

.grid__col--8 {
  &.theme__colors {
    @include main-grid;
    background: orangered;
  }
}