/*
  .container
    .grid__row
    .grid__col--2
    .grid__col--5
    .grid__col--6
    .grid__col--7
    .grid__col--8
    .grid__col--9
    .grid__col--10
    .grid__col--11
    .centered
    .theme__colors
*/

.grid__row {
  margin-top: 35px;
}

.grid__col--3 {
  display: flex;
  justify-content: center;
    &.theme__colors {
      @include main-grid;
      background: plum;
    }
}

.grid__col--12 {   
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(102, 205, 170), $amount: 10%);
  }
} 


.grid__col--4 {

  &.theme__colors {
    @include main-grid;
    background: $sec-color;
  }
}

.grid__col--6 {
  &.theme__colors {
    @include main-grid;
    background: $main-color;
  }
}

.grid__col--5 {
  &.theme__colors {
    @include main-grid;
    background: darken($color: rgb(151, 216, 180), $amount: 10%);
  }
}  

.grid__col--7 {
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(255, 99, 71), $amount: 10%);
  }
}  

.grid__col--8 {
  &.theme__colors {
    @include main-grid;
    background: lighten($color: rgb(255, 69, 0), $amount: 20%);
  }
}  