
.img--logo {
    padding: 20px;
    @include media-q (mobile) {
       max-width: 100%;
        margin-left: 90px;
    }
      @include media-q (desktop) {
        width: 30%;
        margin-left: 20px;
    }
}

.img--avatar {
    padding-left: 27%;
    padding-top: 20px;
    @include media-q (mobile) {
        max-width: 100%;
    }
    @include media-q (desktop) {
        width: 37%;
    }
}

.img--frame {
    border: 2px solid grey;
    display: block;
    justify-content: center;
    padding: 6px;
    @include media-q (mobile) {
        max-width: 100%;
    }
    @include media-q (desktop) {
        width: 79%;
        margin-left: 62px;
    }
}

