/*
.nav__item
*/

.nav__item {
    display: flex;
    list-style-type: none;
    justify-content: center;

  a {
        text-decoration: none;
        color: grey;
        display: block;
        text-align: center;
        padding: 15px 32px;
        width: 90%;
        font-weight: bolder;
        &:hover {
            color: white; 
            background: rgba(76, 183, 178, 1);
            border-radius: 3px;
        }
    }
}