/*
 .container
*/

.headline--secondary {
    color: grey;
    font-weight: bold;
}

.headline--primary {
    padding-left: 25px;
    color: $sec-color;
    font-size: 25px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: $main-color;
}

.blockquote {
    font-size: 21px;
    margin-bottom: 30px;
    padding-left: 9px;
    border-left: 7px $sec-color solid;
    border-radius: 4px;
    font-size: 19px;
    width: 85%;
    @include media-q (desktop) {
        margin-bottom: 72px;
      }
}