* {
    font-family: $main-font, $secondary-font;
    @include media-q (mobile) {
        @include mobile-cont;
    }

    @include media-q (desktop) {
        @include desktop-cont;
    }

    div {
        border: 1px solid greenyellow;
        width: 100%;
    }
}